{
  "env": {
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "eslint-plugin-import"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "extends": [
    "bengler",
    "bengler/react",
    "bengler/import"
  ],
  "rules": {
    "prefer-template": 1 // todo: remove this eventually
  }
}
