{
  "env": {
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "eslint-plugin-import",
    "eslint-plugin-react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "extends": [
    "bengler",
    "bengler/react",
    "bengler/import"
  ]
}
