doctype html
html
  head
    title Telldus Web Remote @ #{hostname}
    link(rel='stylesheet', href='/css/telldus-webremote.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    script(src="/js/telldus-webremote.js" async defer)
  body
    .nav
      h3 Telldus Web Remote @ #{hostname}
    #container
      | Loading...