@import "bourbon";
$deviceHeight: 100px;

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "DIN", "Lato", sans-serif;
}

body {
  cursor: default;
  background-color: #000;
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 70px;
    z-index: 10000;
    background-color: #3f4142;
    .houseStatus {
      @include user-select(none);
      text-decoration: none;
      h1 {
        padding: 4px 10px;
        display: inline-block;
        font-size: 16px;
        line-height: 14px;
        color: #aaa;
      }
      .toggleAll {
        margin-left: 10px;
        &.off {
          color: #777;
        }
        &.on {
          color: #666;
        }
      }
      &.someOn {
        color: #ccc;
      }
    }
    .sensors {
      font-size: 0.8rem;
      line-height: 10px;
      text-align: right;
      padding: 10px;
      margin: 0;
      background-color: rgba(100, 100, 100, 0.2);
      color: #888;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
          display: inline-block;
          color: #fff;
          font-weight: 300;
          padding: 0 5px;
        }
      }
    }
  }
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;

  h1, h2, h3, h4 {
    text-transform: uppercase;
  }

  .container {
    margin-top: 70px;
    cursor: default;
    ul.devices {
      display: block;
      margin: 0;
      padding: 0;
      > li.device {
        @include user-select(none);
        padding: 0;
        margin: 0;
        display: block;
        .isOn h3 {
          color: rgba(255, 255, 255, 0.9);
        }
        h3 {
          color: rgba(0, 0, 0, 0.4);
        }
        .isOn .deviceState {
          color: rgba(255, 255, 255, 0.5);
        }
        .deviceState {
          color: rgba(0, 0, 0, 0.4);
        }
        .deviceContainer {
          height: $deviceHeight;
          display: flex;
          flex: 1;
          flex-direction: row;
          justify-content: space-between;
          .deviceInfo {
            flex-grow: 0.8;
            h3 {
              line-height: 100px;
              margin: 0;
              padding: 0;
              font-size: 32px;
              font-weight: 300;
              padding-left: 20px;
              z-index: 2000;
              height: 1px;
              overflow: visible;
            }
          }
          .deviceState {
            position: relative;
            text-align: right;
            flex-grow: 0.4;
            font-weight: bold;
            margin: 8px;
            .react-spinner {
              display: inline-block;
              position: absolute;
              width: 18px;
              height: 18%;
              top: 50%;
              right: 4px;
            }
          }
        }
      }
    }
  }
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes react-spinner_spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

@-moz-keyframes react-spinner_spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

@-webkit-keyframes react-spinner_spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}